<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Detalle Proveedor</h4>
      </div>
      <div class="card-body">
          <div class="card-body" *ngIf="proveedor">
              <div class="col-12">
                  <label class="font-weight-bold">Nombre proveedor: </label>
                  <input value="{{proveedor.nombrep}}" type="text" class="outlinenone" readonly>
              </div>
              <div class="col-4">
                  <label class="font-weight-bold">Ruc: </label>
                  <input value="{{proveedor.rucp}}" type="text" class="outlinenone" readonly>
              </div>
              <div class="col-4">
                  <label class="font-weight-bold">Email: </label>
                  <input value="{{proveedor.emailp}}" type="text" class="outlinenone" readonly>
              </div>
          </div>
          <button (click)="list()" class="btn btn-primary">Regresar</button>
      </div>
    </div>
  </div>
</div>
